doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Admin Page
    // Bootstrap CSS
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    style.
      body {
        background-color: #000;
        color: #fff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        padding: 20px;
      }
  body
    include ../partials/_navbar.pug

    .container
      h1.mb-4 Admin Page
      a.btn.btn-primary(href=`/admin/laser/add/?key=${ADMIN_SECRET_KEY}`) Add Laser

      table.table.table-striped.table-dark
        thead
          tr
            th Laser Name
            th Laser Price
            th Laser Time
            th Actions
        tbody
          each laser in lasers
            tr
              td= laser.laserName
              td= laser.laserPrice
              td= laser.laserTime
              td
                a.btn.btn-primary(href=`/admin/edit-laser/edit/${laser._id}?key=${ADMIN_SECRET_KEY}`) Edit
                form(action=`/admin/edit-laser/delete/${laser._id}?key=${ADMIN_SECRET_KEY}`, method='POST', style='display:inline;')
                  button.btn.btn-danger(type='submit') Delete
